<div class="d-flex justify-content-center my-4">
    <img src="~/imagenes/500.jpeg"
         alt="Error 500 Servidor"
         class="img-fluid rounded shadow"
         style="max-width: 3400px; height: 1250px;">
</div>